{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-4">Учет] успеваемости студентов</h1>
    <section class="mt-3">
    <a class="btn" href="{{ url_for('count_students') }}">Посчитать количество студентов для указанной формы обучения</a>
    </section>
    <h1 class="mt-4">Учет дисциплин</h1>
    <section class="mt-3">
    <a class="btn" href="{{ url_for('count_hours') }}">Получить количество часов и формы отчетности по выбранной дисциплине</a>
    </section>
    <h1 class="mt-4">Работа со студентами</h1>
    <section class="mt-3">
        <a class="btn" href="{{ url_for('add_student') }}">Добавить студента</a>
        <a class="btn" href="{{ url_for('edit_student_index') }}">Изменить информацию о студенте</a>
    </section>
    <h1 class="mt-4">Работа с учебными планами</h1>
    <section class="mt-3">
        <a class="btn" href="{{ url_for('add_curriculum') }}">Добавить учебный план</a>
        <a class="btn" href="{{ url_for('index') }}">Изменить учебный план</a>
    </section>
    <h1 class="mt-4">Работа с журналом успеваемости</h1>
    <section class="mt-3">
        <a class="btn" href="{{ url_for('journal_of_performance') }}">Посмотреть журнал успеваемости</a>
    </section>
</div>
{% endblock %}
